# Preprocessing dataset


Indexing

Create new dataframes for each fuel type

In [10]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
# read csv file
full_data = pd.read_csv('raw_data/polttoneste_hinnat1988-2025.csv', skiprows=1, encoding='latin1')
full_data

     Kuukausi                      Polttoneste  Hinta Hinta, vuosimuutos (%)
0     1988M01  Moottoribensiini 95 E 10, snt/l   56.0                      .
1     1988M01                Dieselöljy, snt/l   40.0                      .
2     1988M01          Kevyt polttoöljy, snt/l   16.0                      .
3     1988M01        Kevyt polttoöljy, eur/MWh   16.1                      .
4     1988M02  Moottoribensiini 95 E 10, snt/l   56.0                      .
...       ...                              ...    ...                    ...
1783  2025M02        Kevyt polttoöljy, eur/MWh  132.4                  -11.4
1784  2025M03  Moottoribensiini 95 E 10, snt/l  179.0                   -6.8
1785  2025M03                Dieselöljy, snt/l  179.0                   -7.7
1786  2025M03          Kevyt polttoöljy, snt/l  126.0                  -12.5
1787  2025M03        Kevyt polttoöljy, eur/MWh  126.4                  -12.5

[1788 rows x 4 columns]

### Preprocessing full data

In [ ]:
# set date as date time
dates = pd.to_datetime(full_data['Kuukausi'], format="%YM%m")

In [ ]:
# set index refactored dates
data = data.set_index(dates) 

# remove old column
data = data.drop(columns=['Kuukausi'])

In [ ]:
# Set hinta column as numeric
full_data['Hinta'] = pd.to_numeric(full_data['Hinta'], errors='coerce') 
full_data

                                Polttoneste  Hinta Hinta, vuosimuutos (%)
Kuukausi
1988-01-01  Moottoribensiini 95 E 10, snt/l   56.0                      .
1988-01-01                Dieselöljy, snt/l   40.0                      .
1988-01-01          Kevyt polttoöljy, snt/l   16.0                      .
1988-01-01        Kevyt polttoöljy, eur/MWh   16.1                      .
1988-02-01  Moottoribensiini 95 E 10, snt/l   56.0                      .
...                                     ...    ...                    ...
2025-02-01        Kevyt polttoöljy, eur/MWh  132.4                  -11.4
2025-03-01  Moottoribensiini 95 E 10, snt/l  179.0                   -6.8
2025-03-01                Dieselöljy, snt/l  179.0                   -7.7
2025-03-01          Kevyt polttoöljy, snt/l  126.0                  -12.5
2025-03-01        Kevyt polttoöljy, eur/MWh  126.4                  -12.5

[1788 rows x 3 columns]

### Preprocessing gasoline data

In [ ]:
# filter gasoline data
gas_price_data = full_data[~full_data['Polttoneste'].isin(['Kevyt polttoöljy, snt/l', 'Kevyt polttoöljy, eur/MWh', 'Dieselöljy, snt/l', 'Polttoneste'])]
gas_price_data

                                Polttoneste  Hinta Hinta, vuosimuutos (%)
Kuukausi
1988-01-01  Moottoribensiini 95 E 10, snt/l   56.0                      .
1988-02-01  Moottoribensiini 95 E 10, snt/l   56.0                      .
1988-03-01  Moottoribensiini 95 E 10, snt/l   56.0                      .
1988-04-01  Moottoribensiini 95 E 10, snt/l   56.0                      .
1988-05-01  Moottoribensiini 95 E 10, snt/l   56.3                      .
...                                     ...    ...                    ...
2024-11-01  Moottoribensiini 95 E 10, snt/l  175.0                  -10.3
2024-12-01  Moottoribensiini 95 E 10, snt/l  176.0                   -5.9
2025-01-01  Moottoribensiini 95 E 10, snt/l  179.0                    1.7
2025-02-01  Moottoribensiini 95 E 10, snt/l  178.0                   -2.2
2025-03-01  Moottoribensiini 95 E 10, snt/l  179.0                   -6.8

[447 rows x 3 columns]

### Preprocessing diesel data

In [ ]:
# select columns for diesel data
diesel_price_data = full_data[~dafull_datata['Polttoneste'].isin(['Kevyt polttoöljy, snt/l', 'Kevyt polttoöljy, eur/MWh', 'Moottoribensiini 95 E 10, snt/l', 'Polttoneste'])]
diesel_price_data

                  Polttoneste  Hinta Hinta, vuosimuutos (%)
Kuukausi
1988-01-01  Dieselöljy, snt/l   40.0                      .
1988-02-01  Dieselöljy, snt/l   40.0                      .
1988-03-01  Dieselöljy, snt/l   40.0                      .
1988-04-01  Dieselöljy, snt/l   39.7                      .
1988-05-01  Dieselöljy, snt/l   39.9                      .
...                       ...    ...                    ...
2024-11-01  Dieselöljy, snt/l  172.0                  -15.3
2024-12-01  Dieselöljy, snt/l  177.0                  -10.2
2025-01-01  Dieselöljy, snt/l  180.0                   -1.6
2025-02-01  Dieselöljy, snt/l  179.0                   -6.3
2025-03-01  Dieselöljy, snt/l  179.0                   -7.7

[447 rows x 3 columns]

## Export datasets

- dataset with all content

- diesel only

- gasoline only

In [ ]:
# full dataset export
full_data.to_csv('data/full_data.csv', index=True)

In [18]:
# export gasoline
gas_price_data.to_csv('data/gasoline_data.csv', index=True)

In [19]:
# export diesel
diesel_price_data.to_csv('data/diesel_data.csv', index=True)