# Preprocessing dataset

### Data
Historical Finnish Fuel Data.

From **FINSTAT / Tilastokesus** Finland’s national statistical authority

### Preprocessing
Remove unwanted rows and columns

Renaming columns and row values

Indexing

pd.datetime, pd.to_numeric

Create separate dataframes for gasoline and diesel

**Export as CSV files**

In [112]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [113]:
# read csv file
full_data = pd.read_csv('raw_data/polttoneste_hinnat1988-2025.csv', skiprows=1, encoding='latin1')
full_data

     Kuukausi                      Polttoneste  Hinta Hinta, vuosimuutos (%)
0     1988M01  Moottoribensiini 95 E 10, snt/l   56.0                      .
1     1988M01                Dieselöljy, snt/l   40.0                      .
2     1988M01          Kevyt polttoöljy, snt/l   16.0                      .
3     1988M01        Kevyt polttoöljy, eur/MWh   16.1                      .
4     1988M02  Moottoribensiini 95 E 10, snt/l   56.0                      .
...       ...                              ...    ...                    ...
1783  2025M02        Kevyt polttoöljy, eur/MWh  132.4                  -11.4
1784  2025M03  Moottoribensiini 95 E 10, snt/l  179.0                   -6.8
1785  2025M03                Dieselöljy, snt/l  179.0                   -7.7
1786  2025M03          Kevyt polttoöljy, snt/l  126.0                  -12.5
1787  2025M03        Kevyt polttoöljy, eur/MWh  126.4                  -12.5

[1788 rows x 4 columns]

### Preprocessing full dataset

In [114]:
# remove unwanted columns
full_data = full_data.drop(columns=['Hinta, vuosimuutos (%)'])

In [115]:
# remove unwanted rows
full_data = full_data.drop(full_data[full_data['Polttoneste'] == 'Kevyt polttoöljy, eur/MWh'].index)

In [116]:
# rename column headers
full_data = full_data.rename(columns={
    'Kuukausi': 'Date',
    'Polttoneste': 'Fuel Type',
    'Hinta': 'Price'
})

In [117]:
# rename gasoline and diesel fuel names (simpler than "Moottoribensiini 95 E 10, snt/l")
full_data['Fuel Type'] = full_data['Fuel Type'].replace({
    'Moottoribensiini 95 E 10, snt/l': 'Gasoline',
    'Dieselöljy, snt/l': 'Diesel'
})

In [118]:
full_data.head()

      Date                Fuel Type  Price
0  1988M01                 Gasoline   56.0
1  1988M01                   Diesel   40.0
2  1988M01  Kevyt polttoöljy, snt/l   16.0
4  1988M02                 Gasoline   56.0
5  1988M02                   Diesel   40.0

In [119]:
# set date as date time
dates = pd.to_datetime(full_data['Date'], format="%YM%m")

In [120]:
# set index refactored dates
full_data = full_data.set_index(dates) 

# remove old column
full_data = full_data.drop(columns=['Date'])

In [121]:
# Set price column as numeric
full_data['Price'] = pd.to_numeric(full_data['Price'], errors='coerce') 
full_data

                          Fuel Type  Price
Date
1988-01-01                 Gasoline   56.0
1988-01-01                   Diesel   40.0
1988-01-01  Kevyt polttoöljy, snt/l   16.0
1988-02-01                 Gasoline   56.0
1988-02-01                   Diesel   40.0
...                             ...    ...
2025-02-01                   Diesel  179.0
2025-02-01  Kevyt polttoöljy, snt/l  132.0
2025-03-01                 Gasoline  179.0
2025-03-01                   Diesel  179.0
2025-03-01  Kevyt polttoöljy, snt/l  126.0

[1341 rows x 2 columns]

### Preprocessing gasoline data

In [122]:
# filter gasoline data
gas_price_data = full_data[full_data['Fuel Type'].isin(['Gasoline'])]
gas_price_data

           Fuel Type  Price
Date
1988-01-01  Gasoline   56.0
1988-02-01  Gasoline   56.0
1988-03-01  Gasoline   56.0
1988-04-01  Gasoline   56.0
1988-05-01  Gasoline   56.3
...              ...    ...
2024-11-01  Gasoline  175.0
2024-12-01  Gasoline  176.0
2025-01-01  Gasoline  179.0
2025-02-01  Gasoline  178.0
2025-03-01  Gasoline  179.0

[447 rows x 2 columns]

In [123]:
gas_price_data = gas_price_data.drop(columns=['Fuel Type'])
gas_price_data.head(1)

            Price
Date
1988-01-01   56.0

### Preprocessing diesel data

In [124]:
# select columns for diesel data
diesel_price_data = full_data[full_data['Fuel Type'].isin(['Diesel'])]
diesel_price_data.head(3)

           Fuel Type  Price
Date
1988-01-01    Diesel   40.0
1988-02-01    Diesel   40.0
1988-03-01    Diesel   40.0

In [125]:
# remove unwanted columns
diesel_price_data = diesel_price_data.drop(columns=['Fuel Type'])
diesel_price_data.head(3)

            Price
Date
1988-01-01   40.0
1988-02-01   40.0
1988-03-01   40.0

## Export datasets

- dataset with all content

- diesel only

- gasoline only

In [126]:
# full dataset export
full_data.to_csv('data/full_data.csv', index=True)

In [127]:
# export gasoline
gas_price_data.to_csv('data/gasoline_data.csv', index=True)

In [128]:
# export diesel
diesel_price_data.to_csv('data/diesel_data.csv', index=True)